.select,.select option{
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */ 
    outline: none;
    border: none;
    background-color: transparent;
}
.select{ width: 100%; height:30px; line-height: 30px; display: block; position:relative; z-index:2; padding:0 20px 0 10px;font-size: 14px; }
.selectbox{width:100%; height:30px; line-height: 30px;  text-align: center; border-radius: 4px; background: #f5f5f5;position: relative;}
.selectbox::after{ content: " "; position: absolute; width: 0px; height: 0px; top:12px; right: 5px; display: block; z-index: 1;
    border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 6px solid #535353; }